# ============================================
# PYTHON DEPENDENCIES
# S3 Antivirus Scanner
# ============================================

# AWS SDK
boto3==1.34.143
botocore==1.34.143

# Utilidades
python-dotenv==1.0.0