{% extends "base.html" %}{% block title %} Scan SQS Messages {% endblock %}

{%block content %}
<section class="block">
    <h2>Scan SQS Messages</h2>
    <p>Click the button below to scan SQS messages:</p>
    <button onclick="scanSqsMessages()">Scan SQS Messages</button>

    <script>
      function scanSqsMessages() {
        fetch("/scan-sqs-messages/")
          .then((response) => response.json())
          .then((data) => alert(data.status));
      }
    </script>
  </section>

{% endblock %}



