<footer>
    <div class="container footer-content">
      <div class="footer-section">
        <h4>About Us</h4>
        <p>
          We provide antivirus solutions to scan and detect malware in your
          files stored on AWS S3.
        </p>
      </div>
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'scan-messages' %}">Scan S3</a></li>
          <li><a href="{% url 'contact' %}t">Contact</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contact Info</h4>
        <p>Email: johan.luna@netluna.co</p>
        <p>Phone: +57 3105405342</p>
      </div>
    </div>
    <div class="container footer-bottom">
      <p>&copy; 2024 Antivirus S3 AWS. All rights reserved.</p>
    </div>
  </footer>